.App {
    text-align: center;
    background-color: var(--background) !important;
    height: 100%;
}

.Content {
    background-color: var(--background) !important;
}

.center {
    justify-content: center;
}

.center-text {
    text-align: center!important;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #dc3545;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dc3545 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.top-bar {
    background-color: var(--accent);
    color: var(--nav-text);
}

.navbar-brand, .navbar-text {
    color: var(--nav-text) !important;
}

#dark-mode-btn {
    background-color: unset;
    border-color: var(--accent);
    color: var(--nav-text);
}

/* Navbar */
.responsive-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
    background-color: var(--accent);
}

.responsive-topbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5px;
    background-color: var(--accent);
}

#controls {
    display: flex;
    gap: 10px;
}

#dark-mode-btn {
    outline: none;
    box-shadow: none;
    border: none !important;
}



.menu-btn {
    background-color: var(--button-accent) !important;
    border-color: var(--button-accent) !important;
    color: var(--nav-text) !important;
    flex-grow: 1;
}

.menu-btn:hover {
    background-color: var(--button-hover-accent) !important;
    border-color: var(--button-hover-accent) !important;
}

/*Cards*/

th {
    background-color: var(--accent) !important;
    color: var(--text-secondary) !important;
    border-top: 1px solid  var(--card-border-color) !important;
    border-bottom: 1px solid  var(--card-border-color) !important;
}

td {
    color: var(--text-primary);
    border: unset!important;
}

/*Card*/

.card {
    background-color: var(--background) !important;
    border-color: var(--card-border-color) !important;
    color: var(--text-primary);
}

.card-header, .card-footer {
    background-color: var(--accent) !important;
    border-color: var(--card-border-color) !important;
    color: var(--text-secondary);
}

.page-link {
    background-color: var(--button-accent) !important;
    border-color: var(--button-accent) !important;
}

/*Date Picker*/
#datePicker {
    background-color: var(--background)!important;
    color: var(--text-primary);
    border-color: var(--card-border-color);
}

.nav-link {
    background-color: var(--card-border-color)!important;
    color: var(--text-primary)!important;
}

.nav-link.active {
    background-color: var(--card-border-color)!important;
    color: var(--nav-text)!important;
}

.form-control, .form-select, .dropdown-container, .dropdown-content * {
    background-color: var(--input-background)!important;
    border-color: var(--card-border-color)!important;
    color: var(--text-primary) !important;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    flex-basis: 600px;
}

.login-form .card-header {
    color: var(--nav-text)
}

/*Modal*/

.modal-content {
    background-color: var(--background) !important;
    color: var(--text-primary);
}

.modal-header, .modal-footer {
    background-color: var(--accent);
    color: var(--nav-text);
    border-color: var(--card-border-color)!important;
}