.App {
    text-align: center;
    background-color: var(--background) !important;
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.center {
    justify-content: center;
}

.center-text {
    text-align: center!important;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #dc3545;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dc3545 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.top-bar {
    background-color: var(--accent);
    color: var(--nav-text);
}

.navbar-brand, .navbar-text {
    color: var(--nav-text) !important;
}

#dark-mode-btn {
    background-color: unset;
    border-color: var(--accent);
    color: var(--nav-text);
}

/* Navbar */
.responsive-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    background-color: var(--accent);
}

.menu-btn {
    background-color: var(--button-accent) !important;
    border-color: var(--button-accent) !important;
    color: var(--nav-text) !important;
    flex-basis: 150px;
}

.menu-btn:hover {
    background-color: var(--button-hover-accent) !important;
    border-color: var(--button-hover-accent) !important;
}

/*Cards*/

th {
    background-color: var(--accent) !important;
    color: var(--text-secondary) !important;
    border: 1px solid  var(--card-border-color) !important;
}

td {
    color: var(--text-primary);
    border: unset!important;
}

/*Card*/

.card {
    background-color: var(--background) !important;
    border-color: var(--card-border-color) !important;
    color: var(--text-primary);
}

.card-header, .card-footer {
    background-color: var(--accent) !important;
    border-color: var(--card-border-color) !important;
    color: var(--text-secondary);
}

.page-link {
    background-color: var(--button-accent) !important;
    border-color: var(--button-accent) !important;
}

/*Date Picker*/
#datePicker {
    background-color: var(--background)!important;
    color: var(--text-primary);
    border-color: var(--card-border-color);
}

.modal-content, .modal-footer, .modal-header, .modal-body {
    background-color: var(--background) !important;
    border-color: var(--card-border-color) !important;
    color: var(--text-primary) !important;
}

[data-theme='light'].modal .modal-dialog .modal-content .modal-header {
    background-color: aqua!important;
}

[data-theme='dark'] .modal .modal-dialog .modal-content .modal-header {
    background-color: #a71d2a!important;
}