.slider {
  background-color: #23b152;
}

.nav-link {
  background-color: #282c34!important;
  color: wheat;
}

#datePicker {
  background-color: #282c34!important;
  color: wheat;
}

.modal-content, .modal-footer, .modal-header {
  background-color: #0d1117;
  border-color: #30363d;
  color: wheat;
}

.page-item.active .page-link {
  background-color: #0d1117 !important;
  border-color: #373b42 !important;
  color: wheat !important;
}

.page-link {
  background-color: #282c34!important;
  border-color: #373b42 !important;
  color: wheat !important;
}

.page-link:hover {
  color: white !important;
}

.form-control, .form-select, .dropdown-container, .dropdown-content * {
  background-color: #282c34!important;
  border-color: #373b42!important;
  color: wheat;
}

.table {
  color: wheat;
}