.sideButton {
  background-color: #dc3545;
  border: 1px solid #af2a38;
  border-radius: 5px;
  height: 100%;
  color: rgb(250, 250, 250);
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%;
}

.sideButton:hover {
  background-color: #af2a38;
  border: 1px solid #88202a;
}
