.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 2.6fr;
  gap: 0px 0px;
  grid-template-areas: 
    "Menu-Bar Menu-Bar Menu-Bar"
    "NavigationBar NavigationBar NavigationBar"
    "Content Content Content";
}

.Menu-Bar { grid-area: Menu-Bar; }
.NavigationBar { grid-area: NavigationBar; }
.Content { 
  grid-area: Content;
  margin-top: 20px;
  margin-bottom: 20px;
}

#root {
  height: 100%;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
}

.wrapper *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
